body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.header {
    color: white;
    background-color: green;
    padding: 20px;
}

.footer {
    color: white;
    height: 10%;
    min-height: 60px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-bottom: 0px;
}

.item {
  background-color: #32b6e6;
  color: white;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.item:last-child {
    margin-bottom: 0px;
}